<div class="page-wrapper">
  <h1>Olga Shyshova</h1>
  <div class="main-wrapper">
    <section class="contacts">
      <h2>Contacts</h2>
      <ul class="contacts__list">
        <li class="contact">
          <a href="mailto:shyshova24@gmail.com" aria-label="E-mail address">
            <svg class="contact__logo" width="30" height="30" viewBox="0 0 512 512" fill="black">
              <g>
                <polygon points="339.392,258.624 512,367.744 512,144.896"/>
                <polygon points="0,144.896 0,367.744 172.608,258.624"/>
                <path d="M480,80H32C16.032,80,3.36,91.904,0.96,107.232L256,275.264l255.04-168.032C508.64,91.904,495.968,80,480,80z"/>
                <path d="M310.08,277.952l-45.28,29.824c-2.688,1.76-5.728,2.624-8.8,2.624c-3.072,0-6.112-0.864-8.8-2.624l-45.28-29.856
                  L1.024,404.992C3.488,420.192,16.096,432,32,432h448c15.904,0,28.512-11.808,30.976-27.008L310.08,277.952z"/>
              </g>
            </svg>
            <p class="contact__address">shyshova24@gmail.com</p>
          </a>
        </li>
        <li class="contact">
          <a href="https://github.com/Olya-web7" aria-label="Link to my GitHub">
            <svg class="contact__logo" width="30" height="30" viewBox="0 0 24 24">
              <path d="m12 .5c-6.63 0-12 5.28-12 11.792 0 5.211 3.438 9.63 8.205 11.188.6.111.82-.254.82-.567 0-.28-.01-1.022-.015-2.005-3.338.711-4.042-1.582-4.042-1.582-.546-1.361-1.335-1.725-1.335-1.725-1.087-.731.084-.716.084-.716 1.205.082 1.838 1.215 1.838 1.215 1.07 1.803 2.809 1.282 3.495.981.108-.763.417-1.282.76-1.577-2.665-.295-5.466-1.309-5.466-5.827 0-1.287.465-2.339 1.235-3.164-.135-.298-.54-1.497.105-3.121 0 0 1.005-.316 3.3 1.209.96-.262 1.98-.392 3-.398 1.02.006 2.04.136 3 .398 2.28-1.525 3.285-1.209 3.285-1.209.645 1.624.24 2.823.12 3.121.765.825 1.23 1.877 1.23 3.164 0 4.53-2.805 5.527-5.475 5.817.42.354.81 1.077.81 2.182 0 1.578-.015 2.846-.015 3.229 0 .309.21.678.825.56 4.801-1.548 8.236-5.97 8.236-11.173 0-6.512-5.373-11.792-12-11.792z"/>
            </svg>
            <p class="contact__address">Olya-web7</p>
          </a>
        </li>
        <li class="contact">
          <a href="https://t.me/Olyashyshova" aria-label="My Telegram">
            <svg class="contact__logo" width="30" height="30" viewBox="0 0 24 24">
              <path d="m9.417 15.181-.397 5.584c.568 0 .814-.244 1.109-.537l2.663-2.545 5.518 4.041c1.012.564 1.725.267 1.998-.931l3.622-16.972.001-.001c.321-1.496-.541-2.081-1.527-1.714l-21.29 8.151c-1.453.564-1.431 1.374-.247 1.741l5.443 1.693 12.643-7.911c.595-.394 1.136-.176.691.218z"/>
            </svg>
            <p class="contact__address">@Olyashyshova</p>
          </a>
        </li>
      </ul>
    </section>
    <section class="projects">
      <h2>Projects</h2>
      <ol class="projects__list">
        <li class="project">
          <h3 class="project__title">“Healthy food”</h3>
          <p><i class="project__tech">Tech: JavaScript, HTML, CSS, webpack.</i></p>
          <div class="project__buttons-wrapper">
            <a class="project__button" href="https://github.com/Olya-web7/healthyFood.git">See code</a>
          </div>
        </li>
        <li class="project">
          <h3 class="project__title">“ToDo List”</h3>
          <p><i class="project__tech">Tech: JavaScript, HTML, CSS.</i></p>
          <div class="project__buttons-wrapper">
            <a class="project__button" href="https://github.com/Olya-web7/todos">See code</a>
          </div>
        </li>
      </ol>
    </section>
    <section class="education">
      <h2>Education</h2>
      <ul class="education__list">
        <li>
          <div>
            <a class="education__place" href="https://cs50.harvard.edu/"><b>Harvard University</b></a>
            <p class="education__description">CS50: CS50's Introduction to Computer Science</p>
          </div>
        </li>
        <li>
          <div>
            <a class="education__place" href="#"><b>National Technical University of Ukraine 'Kiev Polytechnic, Institute' </b></a>
            <p class="education__description">Faculty of Electric Power Engineering and Automatics, Department of Automation of Electromechanical Systems and Electric Drive</p>
          </div>
        </li>
      </ul>
    </section>
    <section class="skills">
      <h2>Skills</h2>
      <div class="skills__groups">
        <div>
          <h3>Technologies and tools:</h3>
          <ul class="skills__list">
            <li class="skill">HTML5 & BEM</li>
            <li class="skill">CSS3 & SCSS</li>
            <li class="skill">JavaScript & AJAX</li>
            <li class="skill">Webpack & Npm</li>
            <li class="skill">GitHub & GitLab</li>
          </ul>
        </div>
        <div>
          <h3>Languages:</h3>
          <ul class="skills__list">
            <li class="skill">Russian</li>
            <li class="skill">English</li>
            <li class="skill">German</li>
            <li class="skill">Ukrainian</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="work">
      <h2>Work experience</h2>
      <h3 class="work__title"><a href="https://www.flyuia.com/ua/en/home"><b>Ukraine International Airlines</b></a></h3>
      <p class="work__position">Lead engineer</p>
    </section>
  </div>
</div>