<div class="outerContainer">
  <div fxLayout="row" fxLayoutGap="10px" fxLayout.sm="column" class="container">
    <div fxLayoutAlign="center center">
      <img src="https://images.unsplash.com/photo-1472152083436-a6eede6efad9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt="picture" width="200">
    </div>
    <div fxFlex="2 1 auto" fxLayoutAlign="center center">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, quia numquam, accusamus sequi non eos quae consequatur nesciunt dolore optio asperiores culpa inventore harum iusto id ipsam! Minus commodi iste rem aspernatur sequi! Rem, similique ratione placeat nemo incidunt dolorum vitae voluptatum quod quia in molestiae recusandae dicta illum amet laborum dolorem delectus maxime natus non sed tenetur officia sunt unde. Corporis placeat cupiditate deleniti atque laboriosam, soluta architecto, nobis accusantium magnam repudiandae, voluptatibus animi illo neque.
    </div>
  </div>
</div>